<a href="https://colab.research.google.com/github/j4ck132/SMPNet/blob/main/Kappa_Score_4000.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/loneliness_posts_8k_jack_raghav - loneliness_posts_8k (2).csv')
df = df.dropna(how='any')
df.head()

,id,full_link,text,feelLonely Jack,feelLonely Raghav
1,dqx6wo,https://www.reddit.com/r/lonely/comments/dqx6w...,Red streak girlSo uh yeah she seems pretty chi...,0.0,1.0
3,r7rrn1,https://www.reddit.com/r/lonely/comments/r7rrn...,Just wanna talkIm here to talk if you want,0.0,0.0
5,oytqvv,https://www.reddit.com/r/lonely/comments/oytqv...,How to get over jealousy of socially active fr...,1.0,0.0
7,mwxene,https://www.reddit.com/r/lonely/comments/mwxen...,"Were all lonely people, right?Saw a post on he...",0.0,0.0
9,gwa3ew,https://www.reddit.com/r/lonely/comments/gwa3e...,i hate my birthdaymy birthday is in two days a...,1.0,1.0

In [ ]:
df_jack = df['feelLonely Jack']
df_jack.head()

1    0.0
3    0.0
5    1.0
7    0.0
9    1.0
Name: feelLonely Jack, dtype: float64

In [ ]:
df_raghav = df['feelLonely Raghav']
df_raghav.head()
df_raghav.dropna()

1       1.0
3       0.0
5       0.0
7       0.0
9       1.0
       ...
7991    1.0
7993    0.0
7995    1.0
7997    0.0
7999    1.0
Name: feelLonely Raghav, Length: 3990, dtype: float64

In [ ]:
import sklearn.metrics

kappa_score = sklearn.metrics.cohen_kappa_score(df_jack, df_raghav)
print(kappa_score)

0.7615185543748093